@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary: #52796f;
  --color-primary-dull: #354f52;
  --color-light: #F1F5F9;
  --color-borderColor: #C4C7D2;
}

/* #3e644a */