body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* nav start */
.nav-container {
    background-color: #586269;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    width: 100%;
    display: flex;
    justify-content: left;
    font-family: "Abel";
}

.nav {
    font-style: normal;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    margin-left: 40px;
    margin-top: 12px;
    margin-bottom: 27px;
}

nav .logo {
    height: 60px;
    margin-top: 10px;
    padding: 10px 10px;
}


.menu ul {
    line-height: 0.2;
    list-style: none;
    padding: 0;
}


.menu ul li {
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.menu ul li a {
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu ul li ul.dropdown li {
    display: block;
}

.menu ul li ul.dropdown {
    width: 100%;
    background-color: black;
    border-bottom: 10px black solid;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    display: none;
    margin-top: 3px;
    padding-bottom: 10px;
}

.menu ul li ul.dropdown li a {
    font-size: 16px;
    padding: 10px;
}

.menu ul li:hover ul.dropdown {
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.menu h1 {
    padding: 7px 10px;
    margin: 2px 0;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
}

.menu hr {
    height: 2px;
    background-color: white;
    margin: 2px 10px;
}

/* nav end */

.head {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-top: 27vb;
    font-family: "Abel";
    margin-bottom: 3vb;
}

/* Images start */
.collage {
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-auto-rows: 20px;
    gap: 10px;
    margin: 10px;
}

.collage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1 {
    grid-column: span 22;
    grid-row: span 12;
}

.item2 {
    grid-column: span 38;
    grid-row: span 24;
}

.item3 {
    grid-column: span 22;
    grid-row: span 12;
}

.item4 {
    grid-column: span 15;
    grid-row: span 26;
}

.item5 {
    grid-column: span 14;
    grid-row: span 14;
}

.item6 {
    grid-column: span 12;
    grid-row: span 8;
}

.item7 {
    grid-column: span 19;
    grid-row: span 17;
}

.item8 {
    grid-column: span 12;
    grid-row: span 18;
}

.item9 {
    grid-column: span 14;
    grid-row: span 12;
}

.item10 {
    grid-column: span 19;
    grid-row: span 9;
}

.item11 {
    grid-column: span 60;
    grid-row: span 25;
}

.item12 {
    grid-column: span 20;
    grid-row: span 8;
}

.item13 {
    grid-column: span 11;
    grid-row: span 17;
}

.item14 {
    grid-column: span 14;
    grid-row: span 11;
}

.item15 {
    grid-column: span 15;
    grid-row: span 25;
}

.item16 {
    grid-column: span 20;
    grid-row: span 14;
}

.item17 {
    grid-column: span 14;
    grid-row: span 14;
}

.item18 {
    grid-column: span 11;
    grid-row: span 8;
}

.item19 {
    grid-column: span 20;
    grid-row: span 8;
}

.item20 {
    grid-column: span 20;
    grid-row: span 21;
}

.item21 {
    grid-column: span 20;
    grid-row: span 13;
}

.item22 {
    grid-column: span 20;
    grid-row: span 16;
}

.item23 {
    grid-column: span 20;
    grid-row: span 8;
}

.item24 {
    grid-column: span 60;
    grid-row: span 26;
}

@media (max-width: 768px) {
    .collage {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .collage {
        grid-template-columns: 1fr;
    }
}

/* Images end */

/* footer start */
.footer .imgbg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer .imgbg img {
    width: 100%;
    height: 90vh;
    object-fit: cover;

}

.text-overlay {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 24px;
    text-align: left;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.subhead-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subhead {
    flex: 1;
    margin: 0 10px;
}

.subhead h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subhead hr {
    width: 50%;
    margin-left: 0;
}

.subhead ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subhead ul li {
    margin-bottom: 8px;
}

.subhead ul li a {
    font-size: 23px;
    line-height: 2;
    color: white;
    text-decoration: none;
}

.subhead ul li a:hover {
    text-decoration: underline;
}

/* footer end */