body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    font-family: "Poppins";
}

.img1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.img1 img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 150;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav {
    font-style: normal;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
}

nav .logo {
    height: 60px;
    margin-top: 10px;
    padding: 10px 10px;
}


.menu ul {
    line-height: 0.2;
    list-style: none;
    padding: 0;
}


.menu ul li {
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.menu ul li a {
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    transition: transform 0.3s ease;
    font-family: "Abel";
}

.menu ul li ul.dropdown li {
    display: block;
}

.menu ul li ul.dropdown {
    width: 100%;
    background-color: black;
    border-bottom: 10px black solid;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    display: none;
    margin-top: 3px;
}

.menu ul li ul.dropdown li a {
    font-size: 16px;
    padding: 10px;
}

.menu ul li:hover ul.dropdown {
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.menu h1 {
    padding: 7px 10px;
    margin: 2px 0;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: "Abel";
    font-weight: normal;
}

.menu hr {
    height: 2px;
    background-color: white;
    margin: 2px 10px;
}


.sec {
    margin-top: 5px;
}

.img1 .text-overlay {
    position: absolute;
    font-family: "Audiowide";
    color: white;
    font-size: 100px;
    bottom: 55px;
}

.boss {
    margin: 4%;
    font-family: "Poppins";
}

.boss .subhead1 {
    font-family: "Abel";
    font-size: 70px;
    color: black;
}

.boss .data1 {
    font-size: 27px;
    color: black;
}

.boss .subhead2 {
    font-family: "Abel";
    font-size: 70px;
    color: black;

}

/* ---- */
.boss .img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boss .img2 img {
    width: 100%;
    height: 90vh;
}

.boss .img2 .text-overlay2 {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 60px;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* --- */
.boss .img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boss .img3 img {
    width: 100%;
    height: 90vh;
}

.boss .img3 .text-overlay3 {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 60px;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* --- */
.boss .img4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boss .img4 img {
    width: 100%;
    height: 90vh;
}

.boss .img4 .text-overlay4 {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 60px;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* --- */
.boss .img5 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.boss .img5 img {
    width: 100%;
    height: 90vh;
}

.boss .img5 .text-overlay5 {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 60px;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* --- */
.spefont {
    display: block;
    font-family: "Abel";
    font-size: 40px;
}

/* ----------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left,
.right {
    flex: 1;
    box-sizing: border-box;
}

.container .left h1 {
    font-family: "Abel", sans-serif;
    font-size: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right center;
    margin: 0;
    color: black;

}

.container .left p {
    font-family: "Abel", sans-serif;
    font-size: 23px;
    margin: 20px 0;
    color: black;

}

.left img {
    height: auto;
    width: 50vw;
    display: block;
    margin: 0 auto;
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.right img {
    height: 750px;
    object-fit: cover;
}

/* -------- */
.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left2 {
    flex: 1;
    text-align: center;
}

.left2 img {
    width: 50vw;
    height: auto;
}

.right2 {
    flex: 1;
    max-width: 50%;
    font-family: "Abel";
    font-size: 30px;
    line-height: 1.6;
    padding: 15px;
    text-align: left;
    color: black;

}

/* ----------------- */

.subhead3 {
    font-family: "Abel";
    text-align: center;
    font-size: 80px;
    color: black;

}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.right3 {
    flex: 1;
    text-align: center;
}

.right3 img {
    width: 60vw;
    height: auto;
}

.left3 {
    flex: 1;
    max-width: 50%;
    font-family: "Abel";
    font-size: 30px;
    line-height: 1.6;
    padding: 15px;
    text-align: left;
    color: black;

}

.img6 img {
    width: 100%;
    height: 90vh;
}

.subhead4 {
    font-family: "Abel";
    text-align: center;
    font-size: 80px;
    color: black;

    
}

.img7 img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

/* 
.text-overlay6{
    position: absolute;
    font-family: "Audiowide";
    color: white;
    font-size: 100px;
    bottom: 55px;

} */

.footer .img8 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.footer .img8 img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    
}

.text-overlay6 {
    position: absolute;
    font-family: "Abel";
    color: white;
    font-size: 24px;
    text-align: left;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.subhead-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subhead {
    flex: 1;
    margin: 0 10px;
}

.subhead h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subhead hr{
    width: 50%;
    margin-left: 0;
}

.subhead ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subhead ul li {
    margin-bottom: 8px;
}

.subhead ul li a {
    font-size: 23px;
    line-height: 2;
    color: white;
    text-decoration: none;
}

.subhead ul li a:hover {
    text-decoration: underline;
}


/* ---------------------HOVER--------------- */
/* 
.boss .img2 img,
.boss .img3 img,
.boss .img4 img
.boss .img5 img,
.img6 img,
.img7 img,
.container .left img,
.container .right img,
.container2 .left2 img,
.container3 .right3 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.boss .img2 img,
.boss .img3 img,
.boss .img4 img,
.boss .img5 img,
.img6 img {
    height: 90vh;
}

.img7 img {
    height: 80vh;
    object-fit: cover;
}

.container .right img {
    width: auto; 
    height: auto; 
    max-height: 750px; 
    object-fit: cover;
}

.boss .img2 img:hover,
.boss .img3 img:hover,
.boss .img4 img:hover,
.boss .img5 img:hover,
.img6 img:hover,
.img7 img:hover,
.container .left img:hover,
.container .right img:hover,
.container2 .left2 img:hover,
.container3 .right3 img:hover {
    transform: scale(0.95);
} */