 .title-cards {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .title-cards h2 {
    margin-bottom: 8px;
 }

 .card-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
 }

 .card-list img{
    width: 240px;
    border-radius: 5px;
    cursor: pointer;
 }

 .card-list .card {
    position: relative;
 }

 .card-list .card p {
    position: absolute;
    bottom: 8px;
    right: 8px;
    text-decoration: none;
    color: white;
 }

