.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 150;
    padding: 0px 60px;
    padding-bottom: 5px;
}

nav {
    display: flex;
}

nav .logo {
    height: 85px;
    margin-top: 10px;
    padding: 10px 10px;
}

.menu {
    padding-top: 10px;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    
    display: inline-block;
    position: relative;
}

.menu ul li a {
    padding: 10px 10px;
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    display: inline-block;
    transition: transform 0.3s ease;
}

.menu ul li ul.dropdown li {
    display: block;
}

.menu ul li ul.dropdown {
    width: 100%;
    background-color: black;
    border: 2px black solid;
    border-radius: 10px;
    z-index: 999;
    position: absolute;
    display: none;
    margin-top: 3px;
}

.menu ul li ul.dropdown li a {
    font-size: 16px;
    padding: 10px;
}

.menu ul li:hover ul.dropdown {
    display: block;
}

.menu ul li a:hover {
    text-decoration: underline;
    text-decoration-color: #84a98c;
    transform: scale(1.1);
}

.menu h1 {
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
}

.menu h1:hover {
    color: #84a98c;
}

hr {
    height: 2px; 
    background-color: white; 
    margin-left: 10px; 
    margin-right: 10px;
}

.login-btn {
    padding: 9px 19px;
    background-color: #354f52;
    color: white;
    border: none;
    font-weight: 550;
    border-radius: 3px;
    cursor: pointer;
}