.top img {
    height: 660px;
    width: 100%;
    object-fit: cover; 
    display: block;
}

.top {
    width: 100%;
    position: relative;
}

.top h1 {
    position: absolute;
    font-weight: 600;
    color: white;
    z-index: 100;
    bottom: 200px;
    right: 10px;
    font-size: 75px;
}

.side-view {
    height: 660px;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 1;
    overflow: hidden;
    justify-content: center;
}

.side-view .side-image {
    height: 660px; 
    width: 100%; 
    object-fit: cover;
    display: block;
}

.side-view .skew {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #9fb88f;
    transform: skewY(30deg);
    height: 660px;
    z-index: 2;
}

.side-view .car {
    position: absolute;
    height: 100%;
    z-index: 4;
}

.side-view .M5-F90 {
    color: white;
    font-size: 250px;
    position: absolute;
    z-index: 3;
    margin-top: 25px;
    text-shadow: 10px 10px 5px rgb(48, 45, 45);
}

.svg-flag {
    display: flex;
}

.svg-flag div {
    display: inline-block;
    height: 15px;
    width: 150px;
    margin: 0;
    padding: 0;
    transform: skewX(-45deg);
    transform-origin: top left;
    z-index: 10;
}

.intro {
    background-color: rgb(43, 41, 41);
}

.intro .blue {
    background-color: #00a1d6;
}

.intro .dark-blue {
    background-color: #353189;
}

.intro .red {
     background-color: #e3242c;
}

.intro .details {
    padding: 20px 60px;
    color: white;
}

.intro .details h1 {
    font-size: 50px; font-weight: 600;
}

.intro .details h3 {
    font-size:20px; 
    font-weight: 500;
}

.intro .details p {
     padding-top: 10px;
     padding-bottom: 10px;
}

/* perfomance-page */
.performance {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
}

.performance .perf {
    position: absolute;
    color: rgb(43, 41, 41);
    border: 5px solid #9cfc97;
    margin: 0px 20px;
    margin-top: 70px;
    padding: 0px 25px;
    font-size: 65px;
    font-weight: 600;
    border-radius: 20px;
}

.performance div {
    height: auto;
    width: 100%;
    display: block;
    margin-top: 30px;
}

.performance div .box {
    height: 500px;
    width: auto;
    margin: 0px 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.performance div .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.performance div .box .img {
    height: 330px;
    width: 540px;
}

.performance div .box .info {
    height: 330px;
    width: 540px;
    margin-left: 120px;
    padding-top: 0px;
}

.performance div .box .info1 {
    height: 330px;
    width: 540px;
    margin-right: 120px;
    text-align: right;
}

.performance div .box .info h1 {
    font-size: 45px;
    font-weight: 550;
    color: rgb(43, 41, 41);
    margin-bottom: 10px;
}

.performance div .box .info1 h1 {
    font-size: 45px;
    font-weight: 550;
    color: rgb(43, 41, 41);
    margin-bottom: 10px;
}

/* speed video */
.speed {
    height: 660px;
    width: 100%;
    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speed video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.speed div {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    background-color: black;
    opacity: 0.5
}

.speed h1 {
    color: white;
    position: absolute;
    font-size: 120px;
    font-weight: 500;
    z-index: 5;
}

.speed p {
    color: white;
    position: absolute;
    font-size: 30px;
    z-index: 5;
    margin-top: 140px;
}

.speed h1 span {
    color: #84a98c; 
    font-weight: 500;
}

/* slider-starts */
.slider-container {
    height: 660px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-container .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}

.slider-container .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider-container .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.slide {
    position: relative;
    height: 660px;
    width: 100%;
    display: flex;
    transition: transform 0.3s;
}

.slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}

.slide::before {
    content: '';
    background: linear-gradient(30deg, #111 10%, transparent);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.slide .info {
    color: white;
    width: 80%;
    padding: 10px;
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 20px;
    text-align: center;
}

.slide .info h1 {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    padding-left: 15px;
}

.slide .info p {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: left;
}
/* slider-ends */

.articles {
    height: 550px;
    width: 100%;
    background-color: white;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles .title {
    font-size: 60px;
    font-weight: 600;
    color: rgb(43, 41, 41);
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.articles .box {
    width: 92%;
    background-color: #EDF6F9;
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    margin-top: 120px;
    gap: 10px;
    padding: 10px;
}

.articles .box .info {
    height: 340px;
    width: 420px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    transition: transform 0.3s ease;
}

.articles .box .info:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.articles .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.articles .box .info div {
    color: white;
    position: absolute;
    font-weight: 500;
    left: 10px;
    bottom: 5px;
    align-items: bottom
}

.articles .box .info div h2 {
    font-weight: 580;
}

.articles .box .info div h4 {
    font-weight: 400;
    margin-bottom: 5px;
    font-size: small
}